@import '../../../../assets/stylesheets/settings/variables';
@import '../../../../assets/stylesheets/settings/toRem';
@import '../../../../assets/stylesheets/settings/mixins';

.link-item {
    @include main-font;
    padding: toRem(8) toRem(16);
    background-color: var(--primary-color-light);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-color);
        color: var(--primary-color-light);
    }

    &--simple {
        display: block;
        padding: toRem(8) toRem(8) toRem(8) toRem(4);
        border: none;
        text-align: start;
        text-transform: none;
    }
}