@import '../../../../assets/stylesheets/settings/variables';
@import '../../../../assets/stylesheets/settings/toRem';

.social-item {
    margin-left: toRem(8);

    @media (min-width: 992px) {
        margin-right: toRem(16);
        margin-left: 0;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &:hover {
        .social-item__link {
            background-color: $primary-color;
        }
    
        .social-item__icon {
            color: $primary-color-light;
        }
    }

    &__link {
        padding: toRem(10) toRem(8) toRem(4) toRem(8);
        background-color: $primary-color-light;
    }

    &__icon {
        color: $primary-color;
        font-size: $font-size-m;
    }
}