@import '../../../../assets/stylesheets/settings/variables';
@import '../../../../assets/stylesheets/settings/toRem';
@import '../../../../assets/stylesheets/settings/mixins';

.button {
    @include main-font;
    padding: 8px 16px;
    background-color: $primary-color-light;
    color: $primary-color;
    border: none;

    &:hover {
        background-color: $primary-color;
        color: $primary-color-light;
    }
}