@import '../settings/variables';

@mixin main-font {
    font-family: $font-family-primary;
    font-weight: 100;
    text-transform: uppercase;
}

@mixin secondary-font {
    font-family: $font-family-secondary;
    text-transform: uppercase;
}

@mixin simple-text-font {
    font-family: $font-family-secondary;
    font-weight: 100;
}

@mixin text-font {
    @include simple-text-font;
    color: $primary-color;
}

