@import '../settings/variables';
@import '../settings/toRem';

@mixin main-font {
    font-family: $font-family-primary;
    font-weight: 100;
    text-transform: uppercase;
}

@mixin secondary-font {
    font-family: $font-family-secondary;
    text-transform: uppercase;
}

@mixin simple-text-font {
    font-family: $font-family-secondary;
    font-weight: 100;
}

@mixin text-font {
    @include simple-text-font;
    color: $primary-color;
}

@mixin small-text {
    @include text-font;
    font-size: toRem(12);
}

@mixin text-error {
    @include simple-text-font;
    color: $red;
    font-size: toRem(12);
}

@mixin input-styles {
    @include simple-text-font;
    width: 100%;
    padding: toRem(4) toRem(8) toRem(8) toRem(8);
    color: $primary-color;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $primary-color;
}

