@import '../settings/variables';

@mixin main-font {
    font-family: $font-family-primary;
    font-weight: 100;
    text-transform: uppercase;
}

@mixin secondary-font {
    font-family: $font-family-secondary;
    text-transform: uppercase;
}