$primary-color: #13ff09;
$primary-color-light: #003300;
$secondary-color: #000;

$font-family-primary: 'Francois One', sans-serif;
$font-family-secondary: 'Roboto Condensed', sans-serif;

$font-size-base: 16;

$z-index-infra: -1;
$z-index-normal:0;
$z-index-md: 1;
