@import './assets/stylesheets/styles.scss';

html {
    background-color: $secondary-color;
}

.wrapper {
    height: 100vh;
    padding: 0 toRem(24);
}

.all-content {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.main {
    &__menu {
        & > .button {
            display: flex;
            margin: toRem(24) auto 0 auto;
    
            @media (min-width: 992px) {
                display: none;
            }
        }
    }

}

.footer {
    position: absolute;
    bottom: toRem(16);
    right: 0;

    @media (max-width: 991px) {
        display: none;
    }
}