@import './assets/stylesheets/styles.scss';

html {
    background-color: $secondary-color;
}

#root {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 toRem(24);
    overflow: hidden;
}

.stars-container {
    z-index: $z-index-infra;
}

.navbar-container {
    & > .button {
        display: flex;
        margin: toRem(24) auto 0 auto;

        @media (min-width: 992px) {
            display: none;
        }
    }
}

.footer {
    position: absolute;
    bottom: toRem(24);
    right: toRem(24);

    @media (max-width: 991px) {
        display: none;
    }
}