@import './assets/stylesheets/styles.scss';

html {
    height: 100vh;
    background-color: $secondary-color;
}

.principal-wrapper {
    height: 100vh;
}

.main {
    position: relative;
    height: 100%;
    overflow: hidden;
}