@import '../../../../assets/stylesheets/settings/variables';
@import '../../../../assets/stylesheets/settings/toRem';
@import '../../../../assets/stylesheets/settings/mixins';

.input-group {
    margin-left: 1px;
    margin-bottom: toRem(24);

    &__label {
        @include text-font;
        font-weight: 400;
    }

    &__asterisk {
        margin-left: toRem(4);
    }

    .input, .textarea {
        margin-top: toRem(8);
    }
}