@import "../../../assets/stylesheets/settings/toRem";

.portfolio {
    padding-bottom: toRem(8);

    &__old {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: toRem(16);
        }
    
        @media (min-width: 1100px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}