.light-theme {
    --primary-color: #000;
    --primary-color-light: #fff;
    --secondary-color: #fff;
    --empty: #000;
    --error: #ff2f0e;
    --star-color: transparent;
    --border-color: transparent;
}

.dark-theme {
    --primary-color: #13ff09;
    --primary-color-light: #003300;
    --secondary-color: #000;
    --empty: #fff;
    --error: #ff2f0e;
    --star-color: #fff;
    --border-color: #13ff09;
}

$font-family-primary: 'Francois One', sans-serif;
$font-family-secondary: 'Roboto Condensed', sans-serif;

$font-size-base: 16px;
$font-size-m: 18px;
$font-size-xl: 42px;
$font-size-xxl: 56px;

$z-index-infra: -1;
$z-index-normal: 0;
$z-index-md: 1;
$z-index-lg: 2;
