@import '../../../../assets/stylesheets/settings/variables';
@import '../../../../assets/stylesheets/settings/toRem';

.list-item {
    display: grid;
    align-items: center;
    grid-template-columns: toRem(32) 1fr;
    list-style-type: none;

    .fas {
        color: var(--primary-color);
        font-size: toRem(14);
    }

    &__icon-container {
        display: flex;
        justify-content: center;
        margin-right: toRem(4);
    }
}