@import '../../../../assets/stylesheets/settings/variables';
@import '../../../../assets/stylesheets/settings/toRem';
@import '../../../../assets/stylesheets/settings/mixins';

.input {
    @include simple-text-font;
    width: 100%;
    padding: 0 toRem(8) toRem(8) toRem(8);
    color: $primary-color;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $primary-color;

    &:focus {
        outline: 1px solid $primary-color;
    }
}