@import '../../../../assets/stylesheets/settings/variables';
@import '../../../../assets/stylesheets/settings/toRem';

.spaceship {
    width: toRem(40);
    height: toRem(55);
    position: absolute;
    top: 90%;
    left: 0%;
    transform: scale(0.8);
    animation: travelling  40s infinite;

    &__window {
        position: absolute;
        left: toRem(10);
        top: toRem(12);
        width: toRem(10);
        height: toRem(10);
        border-radius: 50%;
        background-color: #000;
        display: block;
        z-index: 1;
    }

    &__body {
        width: toRem(30);
        height: toRem(30);
        background: #fff;
        transform: rotate(45deg) skew(15deg, 15deg);
        display: inline-block;
        margin: 0;
        border-radius: 35%;
    }
  
    &__left-motor {
        position: absolute;
        top: toRem(22);
        left: toRem(7);  
        display: block;
        width: toRem(25);
        height: toRem(11);
        background: $white;
        transform: rotate(50deg);
    }
  
    &__right-motor {
        position: absolute;
        top: toRem(22);
        left: toRem(-2);
        display: block;
        width: toRem(25);
        height: toRem(11);
        background: $white;
        transform: rotate(-50deg);
    }
  
    &__flame-container {
        position: absolute;
        left: toRem(28);
        bottom: toRem(5);
        transform: rotate(180deg);
        z-index: $z-index-infra;
    }

    &__flame {
        position: absolute;
        left: toRem(4); 
        height: 0;
        width: 0;
        border: toRem(8) solid $red;
        border-radius: 50%;
        border-top-left-radius: 0;
        background-color: $red;
        transform: rotate(45deg);
        animation: shine-middle 1.5s infinite;

        &--middle { 
            left: toRem(-1); 
            transform: rotate(15deg) scale(0.75);
            animation: shine-left 1.5s infinite;
        }

        &--last { 
            left: toRem(9); 
            transform: rotate(80deg) scale(0.75);
            animation: shine-right 1.5s infinite;
        }
    }
}


@keyframes shine-middle {
    0%   {transform: scale(0.85) rotate(45deg)}
}
  
@keyframes shine-left {
    0%   {transform: scale(0.55) rotate(15deg)}
}
  
@keyframes shine-right {
    0%   {transform: scale(0.55) rotate(80deg);}
}

@keyframes travelling {
    0% {top: 90%}
    25% {top: 10%; transform: scale(0.85) rotate(135deg);}
    50% {top: 90%; left: 50%;transform: scale(0.8) rotate(0deg);}
    75% {top: 10%; left: 90%;transform: scale(0.8) rotate(-180deg);}
    100% {top: 90%; left: 0;transform: scale(0.8) rotate(0deg);}
}