@import '../../../../assets/stylesheets/settings/toRem';
@import '../../../../assets/stylesheets/settings/mixins';

.form {
    margin-top: toRem(32);
    margin-bottom: 0;

    @media (min-width: 768px) {
        width: 50%;
    }
}