@import '../../../../assets/stylesheets/settings/variables';
@import '../../../../assets/stylesheets/settings/toRem';
@import '../../../../assets/stylesheets/settings/mixins';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: $z-index-lg;
    
    &__title-container {
        width: fit-content;
        margin: 0 auto;
        padding: toRem(24);
        border-top: toRem(2) solid $primary-color;
        border-bottom: toRem(4) solid $primary-color;
        background-color: $primary-color-light;
    }

    &__title {
        width: min-content;
        margin: 0;
        font-size: $font-size-xl;
        letter-spacing: toRem(3);

        @media (min-width: 768px) {
            width: unset;
            font-size: $font-size-xxl;
        }
    }

    &__subtitle {
        width: fit-content;
        margin: toRem(24) auto 0 auto;
        background-color: $secondary-color;

        @media (max-width: 767px) {
            max-width: toRem(200);
            font-size: $font-size-m;
        }
    }

    &__subtitle, &__title {
        @include main-font;
        color: $primary-color;
        text-align: center;
    }

    .button {
        margin-top: 24px;
    }
}