@import '../../../../assets/stylesheets/settings/toRem';

.footer {
    position: absolute;
    bottom: toRem(16);
    right: 0;

    @media (max-width: 991px) {
        display: none;
    }

    &__social-container {
        display: flex;
    }
}